torch>=2.9.0
torchvision>=0.23.0
numpy>=2.1.3
pillow>=11.0.0
pyyaml>=6.0.2
omegaconf>=2.3.0
tqdm>=4.67.1
pytorch-lightning>=2.5.5
einops>=0.8.1
protobuf>=5.29.5
setuptools>=78.1.1
packaging>=25.0
#kornia>=0.8.1
#typing>=3.7.4.3
#scipy>=1.16.1
#opencv-python>=4.12.0.88
#albumentations>=2.0.8
